html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    background: rgba(  6, 9, 32,0.6);
}
#testimonialContainer{
    margin: auto;
    background: rgba( 51, 76, 255,1 );
    border-radius: 2em;
    width: 50em;
    height: 40em;
}

#content{
    display: flex;
    flex-direction: column;
    max-width: 35em;
    overflow-y: auto;
}

#name{
    margin: 5em auto 1em auto;
}

#testimonial{
    margin: 1em auto;
}

#testimonialContainer, #picture{
    box-sizing: border-box;
    
}

#buttons{
    overflow: hidden;
}

#picture{
    width: 20em;
    height: 10em;

    border-radius: 1.5em;
    margin: auto;
    position: relative;
    top: -5.5em;
    background-size: cover;
}

#testimonialInfo{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 2em;
    top: -10em;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

#previous, #next{
    background-image: url('../img/arrow.svg');
    background-color: rgba( 128, 51, 255
    ,0.02);
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 3.5em;
    height: 100%;
    cursor: pointer;
    position: relative;
}

#previous{
    transform: rotate(180deg);
}

#previous:hover, #next:hover{
    background-image: url('../img/arrow.svg');
    box-shadow: 10px 10px 32px -10px rgba(0,0,0,0.75);
    background-size: 3.3em;
    background-color: rgba( 128, 51, 255,0.3);
    background-position-x: 0.4em;
    transition-duration: 300ms;
    background-position-y: center;
}